#slider-home .container-fluid {
    padding: 0;
}

#slider-home .row {
    justify-content: center !important;
}

#slider-home .row .col-12 {
    padding: 0;
}

#meetus-home {
    color: white;
}

#meetus-home .row {
    padding: 25px;
}

#location-home .row {
    justify-content: center;
}

#location-home .card {
    -webkit-box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.75);
}

#form .row {
    justify-content: center;
    text-align: center;
}

#ubication .container-fluid,
#ubication .row,
#ubication .col-12 {
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

#ubication h3 {
    margin: 25px;
}

#ubication .card {
    width: 550px;
    -webkit-box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.75);
}

#mapa {
    width: 750px;
    height: 435px;
    margin-bottom: 15px;
}

#footer-home {
    color: white;
    padding: 25px;
}

#footer-home .fa-heart {
    color: red !important;
}

#footer-home a {
    color: white;
}

#footer-home h6 {
    margin: 0px;
}